"*":
  "atom-beautify":
    general: {}
  editor:
    fontSize: 18
    tabLength: 2
  "exception-reporting":
    userId: "0a3ad9a2-631a-4674-8dd4-5df1369287c8"
  "git-blame":
    columnWidth: 175
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
